body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.meter {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
}

.needle {
    width: 2px;
    height: 70px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

#percentage {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
#title {
    font-size: 80px;
    margin-top: 20px;
    text-align: center;
}
